html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.primary-color {
    background-color: white;
}

.secondary-color {
    background-color: blue;
}

.default {
    background-color: red;
}

.alert {
    background-color: #c60f13;
}

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-position: center;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    line-height: 100px;
    padding: 0 6em;
    color: #e9e9e9;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    /* width: 33.33%; */
}

figure {
    margin: .5em;
    position: relative;
}

figure img {
    width: 100%;
}

figcaption {
    display: none;
}

figure:hover > figcaption {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

figcaption h3 {
    margin: 0;
    text-align: center;
}

main {
    width: 100%;
}

aside {
    width: 100%;
}

.lightboxi {
    width: 70%;
    background-color: #fff;
    position: fixed;
    top: 1rem;
    padding: 1rem;
    left: 50%;
    margin: 0 0 0 -35%;
}

.lightboxi a {
    color: #000;
    position: absolute;
    right: 1rem;
    font-size: 2em;
    text-decoration: none;
}

.lightboxi img {
    width: 90%;
    margin: auto;
    display: block;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 769px) {
    body {
        max-width: 60em;
        margin: auto;
    }

    main {
        width: 80%;
    }

    aside {
        width: 20%;
    }

    .container {
        margin: 5px;
    }
    .profile .avatar {
        /* it is better to user display block , margin 0 auto instead of text-align center for image elements*/

    }

}


@media only screen and (max-width: 500px) {
    #photoarea img {
        display: flex;
        flex-wrap: wrap;
        min-width: 80%;
        text-align: center;
        margin: auto;
        height: auto;
        padding: 5px 10px 0 10px;
    }
    .profile .avatar {
        min-width: 20%;
        height: auto;
    }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ===================================================   profile page stuff */
.container {
    border: 1px solid #000000;
    width: 80%;
    align-content: center;
    margin: 30px auto;
}

.profile {
    align-items: center;
    margin: auto;
}

.profile .avatar {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    text-align: center;
    <!--border: 1px solid blue;-->
    position: relative;
}
.avatar img{
    width: 30%;
    height: auto;
}

.info {
    width: 100%;
    margin: auto;
}
.info p{
    text-align: center;
}

#photoarea {
    width: 90%;
    margin: auto;
    text-align: center;

}

#photoarea img {
    width: 20%;
    height: auto;
    padding: 5px;
}

#profilenav {
    text-align: center;
    margin: 10px auto;
    font-size: x-large;
    width: 90%;
    background-color: red;
}
#profilenav a {
    background-color: lightcyan;
}

#profilenav a:hover {
    background-color: #2196F3;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#profilenav a.active {
    background-color: #2196F3;
}
